<%= form_tag(main_app.download_items_path, method: :get, class: "button_to-inline", "data-behavior" => 'batch-select-all') do -%>
  <%= submit_tag("Download Selected", class: 'batch-all-button btn btn-primary submits-batches', id: 'download-selected') %>
<% end %>
