<table class="table table-striped works-list">
  <caption class="sr-only"><%= t("hyrax.dashboard.my.sr.listing") %> <%= application_name %></caption>
  <thead>
  <tr>
    <th class="check-all"><label for="check_all" class="sr-only"><%= t("hyrax.dashboard.my.sr.check_all_label") %></label><%= render_check_all %></th>
    <th><%= t("hyrax.dashboard.my.heading.title") %></th>
    <th><%= t("hyrax.dashboard.my.heading.visibility") %></th>
    <th><%= t("morphosource.dashboard.my.heading.file_visibility") %></th>
    <% if @cart %>
      <th style="width: 15%;"><%= t("hyrax.dashboard.my.heading.date_uploaded") %></th>
    <% else %>
      <th style="width: 15%;"><%= t("morphosource.dashboard.my.heading.date_downloaded") %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
    <% @items.each_with_index do |item, counter| %>
      <% document = @solr_docs.select{|doc| doc.id == item.work_id}[0] %>
      <%= render 'morphosource/my/cart_items/list_works', document: document, counter: counter, item: item, presenter: Hyrax::WorkShowPresenter.new(document, current_ability) %>
    <% end %>
  </tbody>
</table>
