<% if @cart %>
  <% provide :page_title, t("morphosource.admin.sidebar.media_cart") %>
<% else %>
  <% provide :page_title, t("morphosource.admin.sidebar.downloads") %>
<% end %>

<nav class="breadcrumb" role="region" aria-label="Breadcrumb">
  <ol>
    <li><a href="/?locale=en">Home</a></li>
    <li><a href="/dashboard?locale=en">Dashboard</a></li>
    <% if @cart %>
      <li class="active">Media Cart</li>
    <% else %>
      <li class="active">Downloads</li>
    <% end %>
  </ol>
</nav>

<div class="row">
  <div class="col-xs-12 main-header">
    <h1>
      <% if @cart %>
        <span class="fa fa-shopping-cart" aria-hidden="true"></span>
        Media Cart ( <%= @item_count %> )
        <%= render 'morphosource/batch_edits/download_all' %>
      <% else %>
        <span class="fa fa-download" aria-hidden="true"></span>
        Downloads ( <%= @item_count %> )
      <% end %>
    </h1>
  </div>
</div>

<script>
//<![CDATA[
  <%= render partial: 'morphosource/my/scripts', formats: [:js] %>
//]]>
</script>

<div class="panel-body">
  <h2 class="sr-only">Works listing</h2>
  <%= render 'batch_actions' %>
  <%= render 'morphosource/my/document_list' %>
  <%= render 'results_pagination' %>
</div>
