<% content_for(:navbar) do %>
  <%= render '/controls' %>
<% end %>
<!DOCTYPE html>
<html lang="<%= t("hyrax.document_language", default: '') %>" prefix="og:http://ogp.me/ns#">
  <head>
    <%= render partial: 'layouts/head_tag_content' %>
    <%= content_for(:head) %>
  </head>

  <body>
    <div class="skip-to-content">
      <%= link_to "Skip to Content", "#skip-to-content", data: { turbolinks: false } %>
    </div>
    <%= render '/masthead' %>
    <%= content_for(:navbar) %>
    <%= content_for(:precontainer_content) %>
    <div id="content-wrapper" class="container submission_flow" role="main">
      <%= render '/flash_msg' %>
      <%= render_breadcrumbs builder: Hyrax::BootstrapBreadcrumbsBuilder %>
      <% if content_for?(:page_header) %>
        <div class="row">
          <div class="col-xs-12 main-header">
            <%= yield(:page_header) %>
          </div>
        </div>
      <% end %>

        <a name="skip-to-content" id="skip-to-content"></a>
        <%= content_for?(:content) ? yield(:content) : yield %>

    </div><!-- /#content-wrapper -->
    <%= render 'shared/footer' %>
    <%= render 'shared/ajax_modal' %>
  </body>
</html>