<% if file_set.user_can_perform_any_action? %>
  <div class="btn-group">

    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button" id="dropdownMenu_<%= file_set.id %>" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Press to </span>
      <%= t('.header') %>
      <span class="caret" aria-hidden="true"></span>
    </button>

    <ul role="menu" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu_<%= file_set.id %>">
    <% if can?(:destroy, file_set.id) %>
      <li role="menuitem" tabindex="-1">
        <%= link_to t('.delete'), polymorphic_path([main_app, file_set]),
          method: :delete, title: t('.delete_title', file_set: file_set),
          data: { confirm: t('.delete_confirm', file_set: file_set, application_name: application_name) } %>
      </li>
    <% end %>

    <% if can?(:download, file_set.id) %>
      <li role="menuitem" tabindex="-1">
        <%= link_to t('.download'),
                    hyrax.download_path(file_set),
                    title: t('.download_title', file_set: file_set),
                    target: "_blank",
                    id: "file_download",
                    data: { label: file_set.id } %>
      </li>
    <% end %>

    </ul>
  </div>
<% end %>
