<div class="form-actions">
  <% if Hyrax.config.analytics? %>
    <%= link_to "Analytics", @presenter.stats_path, id: 'stats', class: 'btn btn-default' %>
  <% end %>

  <% if @presenter.editor? %>
      <%= link_to "Delete This #{@presenter.human_readable_type}", [main_app, @presenter],
                  class: 'btn btn-danger', data: { confirm: "Delete this #{@presenter.human_readable_type}?" },
                  method: :delete %>
  <% end %>

  <%= render 'social_media' %>
</div>
