<!DOCTYPE html>
<html lang="<%= t("hyrax.document_language", default: '') %>" prefix="og:http://ogp.me/ns#">
  <head>
    <%= render partial: 'layouts/head_tag_content' %>
    <%= content_for(:head) %>
  </head>

  <body>
    <%= render '/masthead' %>
    <div id="content-wrapper" class="container-fluid showcase" role="main">
      <a name="skip-to-content" id="skip-to-content"></a>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </div><!-- /#content-wrapper -->
    <%= render 'shared/footer' %>
    <%= render 'shared/ajax_modal' %>
  </body>
</html>