<% modalities_service = Morphosource::ModalitiesService.new %>
<%= f.input :ie_modality, as: :select,
    label: 'Scanner Modality',
    collection: modalities_service.select_all_options,
    include_blank: true,
    item_helper: modalities_service.method(:include_current_value),
    input_html: { class: 'form-control', onchange:'showFieldsByModality();' }
%>