<%= f.input :light_source, as: :select,
    collection: [
            'Strobe', 'Static', 'Cross polarized', 'Patterned'
        ],
    include_blank: true,
    input_html: { class: 'form-control' },
    wrapper_html: { class: 'ie_photogrammetry ie_photography' }
%>
