<% # app/views/records/edit_fields/_modality.html.erb %>
<% modalities_service = Morphosource::ModalitiesService.new %>
<%= f.input :modality, as: :multi_value_select,
    collection: modalities_service.select_all_options,
    include_blank: true,
    item_helper: modalities_service.method(:include_current_value),
    input_html: { class: 'form-control', multiple: true }
%>