<% # app/views/records/edit_fields/_side.html.erb %>
<% sides_service = Morphosource::SidesService.new %>
<%= f.input :side, as: :multi_value_select,
    collection: sides_service.select_all_options,
    include_blank: true,
    item_helper: sides_service.method(:include_current_value),
    input_html: { class: 'form-control', multiple: true }
%>