<% # app/views/records/edit_fields/_units.html.erb %>
<% units_service = Morphosource::UnitsService.new %>
<%= f.input :unit, as: :select,
    collection: units_service.select_all_options,
    include_blank: true,
    item_helper: units_service.method(:include_current_value),
    input_html: { class: 'form-control' },
    wrapper_html: { class: 'hide' }
%>