<h2>IMAGE ACQUISITION AND PROCESSING AT A GLANCE</h2>

<%= presenter.attribute_to_html(:parent_media_count, label: 'Number of parent media', render_as: :showcase_default, include_empty: true, html_dl: false) %>

<div class="row">
	<div class="col-xs-6 showcase-label">Number of processing events</div>
	<div class="col-xs-6 showcase-value">
		<%= presenter.processing_event_count %>
		<% if presenter.processing_activity_type.present?  %>
			(<%= pluralize(presenter.processing_activity_count, 'step') %>)
	 	<% end %>
		</div>
</div>
<div class="row">
	<div class="col-xs-6 showcase-label">Derived directly from</div>
	<div class="col-xs-6 showcase-value">
		<%= render partial: @presenter.showcase_direct_parents_member_partial, collection: @presenter.direct_parent_members, as: :member %>
	</div>
</div>

<%= presenter.attribute_to_html(:modality, render_as: :showcase_default, css_classes: 'break-all', include_empty: true, html_dl: false) %>
<%= presenter.attribute_to_html(:device_and_facility, label: 'Device', render_as: :showcase_default, include_empty: false, html_dl: false) %>
