<%= presenter.attribute_to_html(:exposure_time, render_as: :showcase_default, include_empty: true, html_dl: false) %>
<%= presenter.attribute_to_html(:flux_normalization, render_as: :showcase_default, include_empty: true, html_dl: false) %>

<div id="collapse-block-xray-attributes" class="panel-collapse collapse collapse-block">
<%= presenter.attribute_to_html(:geometric_calibration, render_as: :showcase_default, include_empty: true, html_dl: false) %>
<%= presenter.attribute_to_html(:shading_correction, render_as: :showcase_default, include_empty: true, html_dl: false) %>
<%= presenter.attribute_to_html(:filter, render_as: :showcase_default, include_empty: true, html_dl: false) %>
<%= presenter.attribute_to_html(:frame_averaging, render_as: :showcase_default, include_empty: true, html_dl: false) %>
<%= presenter.attribute_to_html(:projections, render_as: :showcase_default, include_empty: true, html_dl: false) %>
<%= presenter.attribute_to_html(:voltage, render_as: :showcase_default, include_empty: true, html_dl: false) %>
<%= presenter.attribute_to_html(:power, render_as: :showcase_default, include_empty: true, html_dl: false) %>
<%= presenter.attribute_to_html(:amperage, render_as: :showcase_default, include_empty: true, html_dl: false) %>
<%= presenter.attribute_to_html(:surrounding_material, render_as: :showcase_default, include_empty: true, html_dl: false) %>
<%= presenter.attribute_to_html(:xray_tube_type, render_as: :showcase_default, include_empty: true, html_dl: false) %>
<%= presenter.attribute_to_html(:target_type, render_as: :showcase_default, include_empty: true, html_dl: false) %>
<%= presenter.attribute_to_html(:detector_type, render_as: :showcase_default, include_empty: true, html_dl: false) %>
<%= presenter.attribute_to_html(:detector_configuration, render_as: :showcase_default, include_empty: true, html_dl: false) %>
<%= presenter.attribute_to_html(:source_object_distance, render_as: :showcase_default, include_empty: true, html_dl: false) %>
<%= presenter.attribute_to_html(:source_detector_distance, render_as: :showcase_default, include_empty: true, html_dl: false) %>
<%= presenter.attribute_to_html(:target_material, render_as: :showcase_default, include_empty: true, html_dl: false) %>
<%= presenter.attribute_to_html(:rotation_number, render_as: :showcase_default, include_empty: true, html_dl: false) %>
<%= presenter.attribute_to_html(:phase_contrast, render_as: :showcase_default, include_empty: true, html_dl: false) %>
<%= presenter.attribute_to_html(:optical_magnification, render_as: :showcase_default, include_empty: true, html_dl: false) %>
</div>
<%= collapse_expand_panel("collapse-block-xray-attributes") %>
