<h2>FILE OBJECT DETAILS</h2>

<%= presenter.attribute_to_html(:short_description, render_as: :showcase_default, include_empty: true, html_dl: false) %>
<%= presenter.attribute_to_html(:media_type, label: "Media type", render_as: :showcase_default, include_empty: true, html_dl: false) %>
<%= presenter.attribute_to_html(:mime_type, label: "File format(s)", render_as: :showcase_default, include_empty: true, html_dl: false) %>
<%= presenter.attribute_to_html(:file_size, label: "File size", render_as: :showcase_default, include_empty: true, html_dl: false) %>
<%= presenter.attribute_to_html(:description, label: "Full description", render_as: :showcase_default, include_empty: true, html_dl: false) %>
<%= presenter.attribute_to_html(:date_created, render_as: :showcase_date, include_empty: true, html_dl: false) %>
<%= presenter.attribute_to_html(:date_uploaded, render_as: :showcase_date, include_empty: true, html_dl: false) %>
<%= presenter.attribute_to_html(:creator, render_as: :showcase_default, include_empty: true, html_dl: false) %>

<% if presenter.this_media_type == 'Mesh' %>
	<div id="collapse-block-file-object-attributes" class="panel-collapse collapse collapse-block">
		<%= presenter.attribute_to_html(:point_count, label: "Points", render_as: :showcase_default, include_empty: true, html_dl: false) %>
		<%= presenter.attribute_to_html(:face_count, label: "Polygons", render_as: :showcase_default, include_empty: true, html_dl: false) %>
	  <%= presenter.attribute_to_html(:color_format, label: "Color information format", render_as: :showcase_default, include_empty: true, html_dl: false) %>
	  <%= presenter.attribute_to_html(:normals_format, label: "Normal information format", render_as: :showcase_default, include_empty: true, html_dl: false) %>
	  <%= presenter.attribute_to_html(:has_uv_space, label: "UV coordinates", render_as: :showcase_default, include_empty: true, html_dl: false) %>
	  <%= presenter.attribute_to_html(:vertex_color, render_as: :showcase_default, include_empty: true, html_dl: false) %>
		<%= presenter.attribute_to_html(:bounding_box_dimensions, render_as: :showcase_default, include_empty: true, html_dl: false) %>
	  <%= presenter.attribute_to_html(:centroid_location, label: "Centroid coordinates", render_as: :showcase_default, include_empty: true, html_dl: false) %>
	  <%= presenter.attribute_to_html(:unit, label: "Units of point coordinates", render_as: :showcase_default, include_empty: true, html_dl: false) %>
	</div>
	<%= collapse_expand_panel("collapse-block-file-object-attributes") %>
<% elsif presenter.this_media_type.match(/image/i) %>
	<div id="collapse-block-file-object-attributes" class="panel-collapse collapse collapse-block">
  <%= presenter.attribute_to_html(:image_width, render_as: :showcase_default, include_empty: true, html_dl: false) %>
  <%= presenter.attribute_to_html(:image_height, render_as: :showcase_default, include_empty: true, html_dl: false) %>
  <%= presenter.attribute_to_html(:color_space, render_as: :showcase_default, include_empty: true, html_dl: false) %>
  <%= presenter.attribute_to_html(:color_depth, render_as: :showcase_default, include_empty: true, html_dl: false) %>
  <%= presenter.attribute_to_html(:compression, render_as: :showcase_default, include_empty: true, html_dl: false) %>

	<% if presenter.this_media_type == 'CTImageSeries' %>
	  <%= presenter.attribute_to_html(:series_type, render_as: :showcase_default, include_empty: true, html_dl: false) %>
	  <%= presenter.attribute_to_html(:x_spacing, label: "X pixel spacing", render_as: :showcase_default, include_empty: true, html_dl: false) %>
	  <%= presenter.attribute_to_html(:y_spacing, label: "Y pixel spacing", render_as: :showcase_default, include_empty: true, html_dl: false) %>
	  <%= presenter.attribute_to_html(:z_spacing, label: "Z pixel spacing", render_as: :showcase_default, include_empty: true, html_dl: false) %>
	  <%= presenter.attribute_to_html(:unit, label: "Pixel spacing units", render_as: :showcase_default, include_empty: true, html_dl: false) %>
	  <%= presenter.attribute_to_html(:slice_thickness, render_as: :showcase_default, include_empty: true, html_dl: false) %>
	  <%= presenter.attribute_to_html(:number_of_images_in_set, label: "Number of slices", render_as: :showcase_default, include_empty: true, html_dl: false) %>
	<% elsif presenter.this_media_type == "PhotogrammetryImageSeries" %>
	  <%= presenter.attribute_to_html(:number_of_images_in_set, render_as: :showcase_default, include_empty: true, html_dl: false) %>
	  <%= presenter.attribute_to_html(:scale_bar, render_as: :showcase_default, include_empty: true, html_dl: false) %>
	<% end %>
	</div>
	<%= collapse_expand_panel("collapse-block-file-object-attributes") %>

<% end %>
