<h2>OWNERSHIP AND PERMISSIONS</h2>

<%= presenter.attribute_to_html(:data_managed_by, render_as: :showcase_user_link, include_empty: true, html_dl: false) %>
<%= presenter.attribute_to_html(:download_permission, render_as: :showcase_default, include_empty: true, html_dl: false) %>

<%= presenter.attribute_to_html(:license, label: 'Creative Common licenses', render_as: :showcase_license_link, include_empty: true, html_dl: false) %>

<div class="row"><div class="col-xs-6 showcase-label">Custom terms of use</div><div class="col-xs-6 showcase-value">Not yet implemented</div></div>
<div class="row"><div class="col-xs-6 showcase-label">Commercial use permitted</div><div class="col-xs-6 showcase-value">No</div></div>
<div class="row"><div class="col-xs-6 showcase-label">3D printing permitted</div><div class="col-xs-6 showcase-value">Not yet implemented</div></div>

<%= presenter.attribute_to_html(:rights_holder, label: 'IP holder(s)', render_as: :showcase_default, include_empty: true, html_dl: false) %>


