<%= presenter.attribute_to_html(:lens, label: 'Lens', render_as: :showcase_default, include_empty: true, html_dl: false) %>
<%= presenter.attribute_to_html(:other_details, label: 'Other details', render_as: :showcase_default, include_empty: true, html_dl: false) %>
