<li class="h5"><%= t('morphosource.admin.sidebar.downloads') %></li>

  <%= menu.nav_link(main_app.my_cart_path) do %>
    <span class="fa fa-shopping-cart" aria-hidden="true"></span> <span class="sidebar-action-text"><%= t('morphosource.admin.sidebar.media_cart') %></span>
  <% end %>

  <%= menu.nav_link(main_app.my_downloads_path) do %>
    <span class="fa fa-download" aria-hidden="true"></span> <span class="sidebar-action-text"><%= t('morphosource.admin.sidebar.previous_downloads') %></span>
  <% end %>
