<!-- Fields on the show page are in the order below -->

<!-- Hyrax Basic Metadata -->
<%= presenter.attribute_to_html(:date_modified, label: t('hyrax.base.show.last_modified'), html_dl: true) %>
<%= presenter.attribute_to_html(:publisher, render_as: :faceted, html_dl: true) %>
<%= presenter.attribute_to_html(:identifier, render_as: :linked, search_field: 'identifier_tesim', html_dl: true) %>
<%= presenter.attribute_to_html(:date_created, render_as: :linked, search_field: 'date_created_tesim', html_dl: true) %>
<%= presenter.attribute_to_html(:based_near_label, html_dl: true) %>
<%= presenter.attribute_to_html(:related_url, render_as: :external_link, html_dl: true) %>
<%= presenter.attribute_to_html(:resource_type, render_as: :faceted, html_dl: true) %>

<!-- Physical Object Custom Fields -->

<%= presenter.attribute_to_html(:bibliographic_citation, html_dl: true) %>
<%= presenter.attribute_to_html(:catalog_number, html_dl: true) %>
<%= presenter.attribute_to_html(:collection_code, html_dl: true) %>
<%= presenter.attribute_to_html(:institution_code, html_dl: true) %>
<%= presenter.attribute_to_html(:current_location, html_dl: true) %>
<%= presenter.attribute_to_html(:geographic_coordinates, label: 'Geographic Coordinates', html_dl: true) %>
<%= presenter.attribute_to_html(:numeric_time, html_dl: true) %>
<%= presenter.attribute_to_html(:original_location, html_dl: true) %>
<%= presenter.attribute_to_html(:periodic_time, html_dl: true) %>
<%= presenter.attribute_to_html(:vouchered, render_as: :faceted, html_dl: true) %>

<!-- Biological Specimens -->
<%= presenter.attribute_to_html(:idigbio_recordset_id, html_dl: true) %>
<%= presenter.attribute_to_html(:idigbio_uuid, html_dl: true) %>
<%= presenter.attribute_to_html(:is_type_specimen, render_as: :faceted, html_dl: true) %>
<%= presenter.attribute_to_html(:occurrence_id, html_dl: true) %>
<%= presenter.attribute_to_html(:sex, render_as: :faceted, html_dl: true) %>


<% institutional_taxonomy = presenter.attribute_to_html(:canonical_taxonomy_object, label: presenter.canonical_taxonomy_label, render_as: :showcase_taxonomy, include_empty: false, html_dl: true, locale: locale) %>
<% trusted_taxonomies = presenter.attribute_to_html(:trusted_taxonomies, label: I18n.t('morphosource.taxonomy.labels.trusted'), render_as: :showcase_taxonomy, include_empty: false, html_dl: true, locale: locale) %>
<% user_taxonomies = presenter.attribute_to_html(:user_taxonomies, label: I18n.t('morphosource.taxonomy.labels.user'), render_as: :showcase_taxonomy, include_empty: false, html_dl: true, locale: locale) %>

<% unless institutional_taxonomy.blank? && trusted_taxonomies.blank? && user_taxonomies.blank? %>
  <h4>Taxonomies</h4>
  <%= institutional_taxonomy %>
  <%= trusted_taxonomies %>
  <%= user_taxonomies %>
<% end %>
