<h2>GENERAL DETAILS</h2>

<%= presenter.attribute_to_html(:description, label: 'Description', render_as: :showcase_default, include_empty: true, html_dl: false) %>
<%= presenter.attribute_to_html(:sex, label: 'Sex', render_as: :showcase_default, include_empty: true, html_dl: false) %>
<%= presenter.attribute_to_html(:is_type_specimen, render_as: :showcase_default, include_empty: true, html_dl: false) %>
<%= presenter.attribute_to_html(:source_of_record, render_as: :showcase_idigbio_link, include_empty: true, html_dl: false) %>
<%= presenter.attribute_to_html(:date_created, render_as: :showcase_date, include_empty: true, html_dl: false) %>
<%= presenter.attribute_to_html(:date_uploaded, render_as: :showcase_date, include_empty: true, html_dl: false) %>
<%= presenter.attribute_to_html(:parent_institution_title, label: 'Institution', render_as: :showcase_default, html_dl: false) %>
<%= presenter.attribute_to_html(:publisher, render_as: :showcase_default, include_empty: true, html_dl: false) %>
