<div id="submission_biospec_search_results">
  <div class="h4">
    <%= "Search Results" %>
  </div>
  <% if @docs.nil? || @docs.empty? %>
    <div id="empty_search_results">
      No Biological Specimens found in MorphoSource that match the search criteria.  Search again or create a new Biological Specimen.
    </div>
  <% else %>
    <div id="submission_select_biospec">
      <%= f.input :biospec_id,
                  as: :select,
                  :input_html => { :size => 1 },
                  collection: @docs.map{ |doc| [ doc.sortable_title, doc.id ]} %>
    </div>
    <div>
      <%= f.submit 'Continue with selected Biological Specimen', name: 'biospec_select', class: 'btn btn-primary', onclick: 'return isDropdownSelected("submission[biospec_id]")' %>
    </div>
  <% end %>
  <div>
    <%= f.submit 'Search again', onclick: "gotoStep('new', '#submission_raw_or_derived_media_raw,#submission_choose_raw_or_derived_media_continue,#submission_biospec_or_cho_biospec,#submission_choose_biospec_or_cho_continue')", class: 'btn btn-primary' %>    
    <%= f.submit 'Create New Biological Specimen', name: 'biospec_will_create', class: 'btn btn-primary' %>
  </div>
</div>
