<div id="submission_cho" class="new_media hide">
  <div class="h5">
    <%= t('morphosource.submission.cho_search') %>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <%= f.input :cho_search_occurrence_id, input_html: { class: 'form-control-sm' } %>
    </div>
    <div class="col-sm-2">
      <%= f.input :cho_search_institution_code, input_html: {class: 'form-control-sm'} %>
    </div>
    <div class="col-sm-2">
      <%= f.input :cho_search_collection_code, input_html: { class: 'form-control-sm' } %>
    </div>
    <div class="col-sm-2">
      <%= f.input :cho_search_catalog_number, input_html: {class: 'form-control-sm'} %>
    </div>
  </div>
  <div>
    <%= f.submit 'Search', name: 'cho_search', class: 'btn btn-primary' %>
    <%= f.submit 'Create New Cultural Heritage Object', name: 'cho_will_create', class: 'btn btn-primary' %>
  </div>
</div>
