<div id="submission_choose_biospec_or_cho" class="new_media hide">
  <%= f.input :biospec_or_cho,
              as: :radio_buttons,
              collection: [ [ Submission::PHYSICAL_OBJECT_BIOSPEC[:label], Submission::PHYSICAL_OBJECT_BIOSPEC[:code] ],
                            [ Submission::PHYSICAL_OBJECT_CHO[:label], Submission::PHYSICAL_OBJECT_CHO[:code] ] ] %>
  <a href="#" id="submission_choose_biospec_or_cho_continue" class="btn btn-primary"><%= t('morphosource.submission.continue') %></a>
</div>
