<div id="submission_processing_event_details">
  <h5><%= t('morphosource.submission.processing_event_details') %></h5>
  <%= simple_form_for @processing_event_form, url: stage_processing_event_submissions_url do |f| %>
    <div class="form-group">
      <%= render partial: 'work_creation_metadata', locals: { f: f } %>
      <div>
        <%= f.submit 'Submit Processing Event Details', class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
