<h2>TIME AND PLACE DETAILS</h2>
<%= presenter.attribute_to_html(:periodic_time, label: 'Time Period', render_as: :showcase_default, include_empty: true, html_dl: false) %>
<%= presenter.attribute_to_html(:based_near_label, label: 'Current Location', render_as: :showcase_default, include_empty: true, html_dl: false) %>
<%= presenter.attribute_to_html(:original_location, render_as: :showcase_default, include_empty: true, html_dl: false) %>

<div id="collapse-block-time-and-place" class="panel-collapse collapse collapse-block">
<%= presenter.attribute_to_html(:geographic_coordinates, render_as: :showcase_default, include_empty: true, html_dl: false) %>
<%= presenter.attribute_to_html(:numeric_time, label: 'Absolute Age', render_as: :showcase_default, include_empty: true, html_dl: false) %>
</div>

<%= collapse_expand_panel("collapse-block-time-and-place") %>