<%= render @presenter.showcase_work_title_partial, presenter: @presenter %>

<div class="row">
	<div class="col-sm-6 col-sm-push-6">
		<div class="content-block preview">
			<%= render @presenter.showcase_preview_image_partial, presenter: @presenter %>
		</div>
		<div class="content-block">
			<%= render @presenter.showcase_media_items_partial, presenter: @presenter %>
		</div>

		<div class="content-block">
			<%= render @presenter.showcase_collections_partial, presenter: @presenter %>
		</div>
		<div class="content-block">
			<%= render @presenter.showcase_tags_partial, presenter: @presenter %>
		</div>
		<div class="content-block">
			<%= render @presenter.showcase_citation_and_download_partial, presenter: @presenter %>
		</div>

	</div>

	<div class="col-sm-6 col-sm-pull-6">
		<div class="content-block">
			<%= render @presenter.showcase_general_details_partial, presenter: @presenter %>
		</div>
		<div class="content-block">
			<%= render @presenter.showcase_taxonomy_partial, presenter: @presenter %>
		</div>
		<div class="content-block">
			<%= render @presenter.showcase_identifiers_and_external_links_partial, presenter: @presenter %>
		</div>
		<div class="content-block">
			<%= render @presenter.showcase_time_and_place_details_partial, presenter: @presenter %>
		</div>
		<div class="content-block">
			<%= render @presenter.showcase_bibliographic_citations_partial, presenter: @presenter %>
		</div>
	</div>
</div>
