<!-- Fields on the show page are in the order below -->

<!-- Hyrax Basic Metadata -->
<%= presenter.attribute_to_html(:date_modified, label: t('hyrax.base.show.last_modified'), html_dl: true) %>
<%= presenter.attribute_to_html(:creator, render_as: :faceted, html_dl: true) %>
<%= presenter.attribute_to_html(:contributor, render_as: :faceted, html_dl: true) %>
<%= presenter.attribute_to_html(:publisher, render_as: :faceted, html_dl: true) %>
<%= presenter.attribute_to_html(:identifier, render_as: :linked, search_field: 'identifier_tesim', html_dl: true) %>
<%= presenter.attribute_to_html(:date_created, render_as: :linked, search_field: 'date_created_tesim', html_dl: true) %>
<%= presenter.attribute_to_html(:based_near_label, html_dl: true) %>
<%= presenter.attribute_to_html(:related_url, render_as: :external_link, html_dl: true) %>
<%= presenter.attribute_to_html(:resource_type, render_as: :faceted, html_dl: true) %>

<!-- Physical Object Custom Fields -->

<%= presenter.attribute_to_html(:bibliographic_citation, html_dl: true) %>
<%= presenter.attribute_to_html(:catalog_number, html_dl: true) %>
<%= presenter.attribute_to_html(:collection_code, html_dl: true) %>
<%= presenter.attribute_to_html(:current_location, html_dl: true) %>
<%= presenter.attribute_to_html(:geographic_coordinates, label: 'Geographic Coordinates', html_dl: true) %>
<%= presenter.attribute_to_html(:numeric_time, html_dl: true) %>
<%= presenter.attribute_to_html(:original_location, html_dl: true) %>
<%= presenter.attribute_to_html(:periodic_time, html_dl: true) %>
<%= presenter.attribute_to_html(:vouchered, render_as: :faceted, html_dl: true) %>

<!-- CHOs -->
<%= presenter.attribute_to_html(:cho_type, html_dl: true) %>
<%= presenter.attribute_to_html(:material, html_dl: true) %>
<%= presenter.attribute_to_html(:short_title, html_dl: true) %>
