<h2>IDENTIFIERS AND EXTERNAL LINKS</h2>

<%= presenter.attribute_to_html(:identifier, render_as: :showcase_default, include_empty: true, html_dl: false) %>
<%= presenter.attribute_to_html(:parent_institution_code, label: 'Institution code', render_as: :showcase_default, html_dl: false) %>
<%= presenter.attribute_to_html(:collection_code, render_as: :showcase_default, include_empty: true, html_dl: false) %>

<div id="collapse-block-id-and-ext-links" class="panel-collapse collapse collapse-block">
<%= presenter.attribute_to_html(:catalog_number, render_as: :showcase_default, include_empty: true, html_dl: false) %>
<%= presenter.attribute_to_html(:related_url, label: 'External object URL', render_as: :showcase_external_link, include_empty: true, html_dl: false) %>
<%= presenter.attribute_to_html(:idigbio_uuid, label: 'iDigBio UUID', render_as: :showcase_idigbio_link, include_empty: true, html_dl: false) %>
<%= presenter.attribute_to_html(:idigbio_recordset_id, label: 'iDigBio recordset ID', render_as: :showcase_idigbio_link, include_empty: true, html_dl: false) %>
</div>

<%= collapse_expand_panel("collapse-block-id-and-ext-links") %>
