<!-- Fields on the show page are in the order below -->

<!-- Hyrax Basic Metadata -->
<%= presenter.attribute_to_html(:date_modified, label: t('hyrax.base.show.last_modified'), html_dl: true) %>

<!-- Institution Custom Fields -->
<%= presenter.attribute_to_html(:institution_code, html_dl: true) %>
<%= presenter.attribute_to_html(:address, html_dl: true) %>
<%= presenter.attribute_to_html(:city, html_dl: true) %>
<%= presenter.attribute_to_html(:state_province, html_dl: true) %>
<%= presenter.attribute_to_html(:country, render_as: :faceted, html_dl: true) %>
