<a id="logo" class="navbar-brand" href="<%= hyrax.root_path %>" data-no-turbolink="true">
  <span class="glyphicon" style="margin-top: -30px;"><%= image_tag('skeleton_head.png', height:'40px') %></span>
  <span class="institution_name"><%= application_name %></span>
</a>
