<%# Changes to include a custom banner image. Disables the marketing text partial, we will need to rework css if we keep this design and want to use the marketing text in the future.  %>

<% content_for(:navbar) do %>
  <div class="image-masthead">
    <!-- <div class="background-container" style="background-image: url('<%= banner_image %>')"></div> -->
    <img src='<%= banner_image %>' style="width: 100%; height: auto;"></img>

    <!-- <span class="background-container-gradient"></span> -->

    <!-- <div class="container site-title-container">
      <div class="site-title h1" style="text-align: center;"> -->
        <%#= render "hyrax/homepage/marketing" if controller_name == 'homepage' %>
      <!-- </div> -->
    <!-- </div> -->

    <%= render '/controls' %>
  </div>
<% end %>

<% content_for(:precontainer_content) do %>
  <%= render 'hyrax/homepage/announcement' if controller_name == 'homepage' %>
<% end %>

<%= render template: 'layouts/hyrax' %>
