<li data-reorder-id='<%= node.id %>'>
    <div class="panel panel-default">
      <%= simple_form_for [main_app, node], remote: true, html: {'data-type': 'json'} do |f| %>
        <div class="panel-heading">
          <div class="order-title">
            <%= f.input :title, as: :string, input_html: { name: "#{f.object.model_name.singular}[title][]", class: "title" }, value: node.to_s, label: false, hint: false %>
          </div>
            <!-- Remove link to edit  -->
          <% if node.respond_to?(:label) %>
            <div class="order-filename">
              <em title="<%= node.page_title %>">(<%= truncate(node.label, length: 29) %>)</em>
            </div>
          <% end %>
        </div>
        <div class="panel-body">
          <div class="text-center thumbnail">
            <%= render "file_manager_thumbnail", node: node %>
          </div>
          <div class="attributes">
            <%= render "file_manager_attributes", node: node, f: f %>
          </div>
          <div class="spacer">
          </div>
        </div>
      <% end %>
      <%= render "file_manager_member_resource_options", node: node %>
    </div>
</li>
