<!-- Modified copy of Hyrax app/views/hyrax/base/_form_child_work_relationships.html.erb -->

<%# Form UI behavior code and details;
Code:
  app/assets/javascripts/hyrax/relationships
CSS:
  [data-behavior="remove-relationship"] : Button to remove its parent TR from the table
  [data-behavior="add-relationship"] : Button to clone its parent TR and inject a new row into the table
  .message.has-warning : Used to display UI errors related to input values and server errors
HTML Properties:
  table:
    [data-behavior="parent-relationships"] : allows the javascript to be initialized
    data-param-key : the parameter key value for this model type %>
<div class="form-group" data-behavior="parent-relationships" data-param-key="<%= f.object.model_name.param_key %>" data-members="<%= f.object.member_of_works_json %>">
  <div class="form-inline">
      <div><%= t('hyrax.works.valid_work_types') %>: <%= valid_work_types_list(f.object.model, :parent)%></div>
      <%= f.label :find_parent_work %>
      <%= f.input_field :find_parent_work,
                        prompt: :translate,
                        autocomplete: 'off',
                        data: {
                          autocomplete: 'work',
                          'autocomplete-url' => find_works_autocomplete_url(f.object.model, :parent),
                          'exclude-work': f.object.model.id || "NewRecord" # exclude this item from the result set.
                        } %>
      <a class="btn btn-primary" data-behavior="add-relationship">Add</a>
  </div>
  <div class="message has-warning hidden"></div>
  <table class="table table-striped">
    <div style="margin-top: 10px">
  </div>
    <caption><%= t('.caption') %></caption>
    <thead>
    <tr>
      <th><%= t('.header.title') %></th>
      <th><%= t('.header.actions') %></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<script type="text/x-tmpl" id="tmpl-parent-work">
<tr>
  <td>{%= o.title %}</td>
  <td><button class="btn btn-danger" data-behavior="remove-relationship" data-confirm-text="<%= t('.confirm.text') %>" data-confirm-cancel="<%= t('.confirm.cancel') %>" data-confirm-remove="<%= t('.confirm.remove') %>"><%= t('.actions.remove') %></button></td>
</tr>
</script>
