<aside id="form-progress" class="form-progress panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t("hyrax.works.progress.header") %></h3>
  </div>
  <div class="list-group">
    <div class="list-group-item">
      <fieldset>
        <legend class="legend-save-work"><%= t('.requirements') %></legend>
        <ul class="requirements">
          <li class="incomplete" id="required-metadata"><%= t('.required_descriptions') %></li>
          <%# Override the logic for including the 'files' requirement by using a helper method. %>
          <% if files_required?(curation_concern) %>
            <li class="incomplete" id="required-files"><%= t('.required_files') %></li>
            <% if curation_concern.model_name.name == "Media" %>
              <li class="incomplete" id="required-format"><%= t('morphosource.base.form_progress.required_format') %></li>
            <% end %>
          <% end %>
          <% if Flipflop.show_deposit_agreement? && Flipflop.active_deposit_agreement_acceptance? %>
            <li class="incomplete" id="required-agreement"><%= t('.required_agreement') %></li>
          <% end %>
        </ul>
      </fieldset>
    </div>

    <div class="set-access-controls list-group-item">
      <%= render 'form_visibility_component', f: f %>
    </div>
    <% if Flipflop.proxy_deposit? && current_user.can_make_deposits_for.any? %>
      <div class="list-group-item">
        <%= f.input :on_behalf_of, collection: current_user.can_make_deposits_for.map(&:user_key), prompt: "Yourself" %>
      </div>
    <% end %>
  </div>

  <% if @form.model.valid_child_concerns.any? && @form.respond_to?(:child_create_button) && @form.child_create_button %>
    <%= javascript_include_tag "work_actions" %>
    <div class="list-group">
      <div class="list-group-item">
        <%= f.input :child_work_create, :as => :hidden, :input_html => {:value => "", name: "child_work_create", id: "child_work_create"} %>
        <% @form.model.valid_child_concerns.each do |child| %>
          <%= f.button :button, "Save & Create " + child.model_name.human.titleize, onclick: "ChildWorkActions.saveActon(this);", class: 'btn btn-primary associated_work_actions', value: child.model_name %>
          <br>
          <br>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="panel-footer text-center">
    <% if ::Flipflop.show_deposit_agreement? %>
      <% if ::Flipflop.active_deposit_agreement_acceptance? %>
        <label>
          <%= check_box_tag 'agreement', 1, f.object.agreement_accepted, required: true %>
          <%= t('hyrax.active_consent_to_agreement') %><br />
          <%= link_to t('hyrax.pages.tabs.agreement_page'),
                      hyrax.agreement_path,
                      target: '_blank' %>
        </label>
      <% else %>
        <%= t('hyrax.passive_consent_to_agreement') %><br />
        <%= link_to t('hyrax.pages.tabs.agreement_page'),
                    hyrax.agreement_path,
                    target: '_blank' %>
      <% end %>
    <% end %>
    <br />
    <%# TODO: If we start using ActionCable, we could listen for object updates and
              alert the user that the object has changed by someone else %>
    <%= f.input Hyrax::Actors::OptimisticLockValidator.version_field, as: :hidden if f.object.persisted? %>
    <%= f.submit class: 'btn btn-primary', onclick: "confirmation_needed = false;", id: "with_files_submit", name: "save_with_files" %>
  </div>

  <%# Provide immediate feedback after the form is submitted while the subsequent page is loading %>
  <div class="panel-footer hidden">
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-complete active">
        <span id="form-feedback" aria-live="assertive">Saving your work. This may take a few moments</span>
      </div>
    </div>
  </div>
</aside>
